h1 {
  margin-left: 20px;
}

.sign-in {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  button {
    width: 50%;
    margin: 0 auto;
  }

  &__signUpBtn {
    margin-top: 20px !important;
  }

}
